table,
thead,
tbody,
tfoot,
tr,
td,
th,
caption {
    border: 1px solid #000;
    border-radius: 2px;
}

table {
    margin: 200px auto;
    width: 500px;
    height: 500px;
    text-align: center;
    scale: 1.5;
}

caption {
    margin-bottom: 15px;
    padding: 5px;
}